{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header">
                <h3>User Profile</h3>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Account Information</legend>
                        {{ u_form|crispy }}
                    </fieldset>
                    {% if p_form %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Profile Information</legend>
                        {{ p_form|crispy }}
                    </fieldset>
                    {% endif %}
                    <div class="form-group mt-3">
                        <button class="btn btn-primary" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}